# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02] #lista de dados
pd.Series(data=dados) #exibe os dados no formato de series

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
indice = [1900,1920,1940,1960,1980,2000,2020] #lista de indices
pd.Series(data=dados,index=indice) #adiciona os indices ao dados

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturas_series = pd.Series(dic_temperaturas) #transforma o dicionario em series
dic_temperaturas_series #exibe a serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

pd.DataFrame(arr)

             0           1           2
0    99.119601  102.994959   87.520767
1   103.534951   94.446417  110.975072
2   109.930714  113.653714  116.760612
3   110.904141  105.091837   92.270921
4    87.995780  116.886569   99.400112
5    92.444835  108.952472  107.813396
6    93.273332  101.203475   84.134537
7   109.190394   90.768717  101.275462
8    93.981880   96.511117   92.317218
9   101.803515  105.926063   88.044455
10  101.030967  105.587736   99.473574
11  106.434892  108.548125   99.897625
12   93.111256   90.944784   98.279020
13   96.973951  109.273920   94.667348
14   86.164586  110.969384  103.471348
15   83.873162   90.061472  113.202403
16   96.038639   99.948670  106.431500
17  105.729862   91.161474   89.856829
18   91.456502   85.427619   83.019239
19   94.592629  103.720537   78.124373

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
#seu código aqui
# renomeando as colunas
df = pd.DataFrame(arr,
            columns =['x1','x2','x3'])

# alterando os indices 
df.index = np.arange(1,21)

# exibe df
df

            x1          x2          x3
1    99.119601  102.994959   87.520767
2   103.534951   94.446417  110.975072
3   109.930714  113.653714  116.760612
4   110.904141  105.091837   92.270921
5    87.995780  116.886569   99.400112
6    92.444835  108.952472  107.813396
7    93.273332  101.203475   84.134537
8   109.190394   90.768717  101.275462
9    93.981880   96.511117   92.317218
10  101.803515  105.926063   88.044455
11  101.030967  105.587736   99.473574
12  106.434892  108.548125   99.897625
13   93.111256   90.944784   98.279020
14   96.973951  109.273920   94.667348
15   86.164586  110.969384  103.471348
16   83.873162   90.061472  113.202403
17   96.038639   99.948670  106.431500
18  105.729862   91.161474   89.856829
19   91.456502   85.427619   83.019239
20   94.592629  103.720537   78.124373

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui
df['media'] = (df['x1']+ df['x2'] + df['x3'])/3 #calculo da media e criaçao de uma nova coluna com o nome "media"

df #exibe o novo DataFrame com a coluna "media"

            x1          x2          x3       media
1    99.119601  102.994959   87.520767   96.545109
2   103.534951   94.446417  110.975072  102.985480
3   109.930714  113.653714  116.760612  113.448347
4   110.904141  105.091837   92.270921  102.755633
5    87.995780  116.886569   99.400112  101.427487
6    92.444835  108.952472  107.813396  103.070234
7    93.273332  101.203475   84.134537   92.870448
8   109.190394   90.768717  101.275462  100.411524
9    93.981880   96.511117   92.317218   94.270072
10  101.803515  105.926063   88.044455   98.591344
11  101.030967  105.587736   99.473574  102.030759
12  106.434892  108.548125   99.897625  104.960214
13   93.111256   90.944784   98.279020   94.111686
14   96.973951  109.273920   94.667348  100.305073
15   86.164586  110.969384  103.471348  100.201772
16   83.873162   90.061472  113.202403   95.712346
17   96.038639   99.948670  106.431500  100.806269
18  105.729862   91.161474   89.856829   95.582722
19   91.456502   85.427619   83.019239   86.634453
20   94.592629  103.720537   78.124373   92.145846

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui
df['log_med'] = np.log(df['media']) #calcula o log natural da coluna media e mostra os resultados em uma nova coluna "log_med"

df #exibe df

            x1          x2          x3       media   log_med
1    99.119601  102.994959   87.520767   96.545109  4.570010
2   103.534951   94.446417  110.975072  102.985480  4.634588
3   109.930714  113.653714  116.760612  113.448347  4.731348
4   110.904141  105.091837   92.270921  102.755633  4.632354
5    87.995780  116.886569   99.400112  101.427487  4.619344
6    92.444835  108.952472  107.813396  103.070234  4.635411
7    93.273332  101.203475   84.134537   92.870448  4.531205
8   109.190394   90.768717  101.275462  100.411524  4.609277
9    93.981880   96.511117   92.317218   94.270072  4.546164
10  101.803515  105.926063   88.044455   98.591344  4.590983
11  101.030967  105.587736   99.473574  102.030759  4.625274
12  106.434892  108.548125   99.897625  104.960214  4.653581
13   93.111256   90.944784   98.279020   94.111686  4.544482
14   96.973951  109.273920   94.667348  100.305073  4.608216
15   86.164586  110.969384  103.471348  100.201772  4.607186
16   83.873162   90.061472  113.202403   95.712346  4.561347
17   96.038639   99.948670  106.431500  100.806269  4.613201
18  105.729862   91.161474   89.856829   95.582722  4.559992
19   91.456502   85.427619   83.019239   86.634453  4.461698
20   94.592629  103.720537   78.124373   92.145846  4.523373